html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
  color: #1769aa;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.homepage-banner {
  width: 100%;
  text-align: center;
  padding-top: 4rem;
}

.homepage-banner h1 {
  font-size: 6rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.homepage-banner h3 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}
