@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  color: #1769aa;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 35%;
    /* font-size: 30%; */
  }
}
